# GitHub CODEOWNERS file
# Each line is a file pattern followed by one or more owners.
# Owners will be automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @saif-at-scalekit @amitash1912 @ravibits


# Folder specific owner
/src/content/docs/guides/integrations/ @jranaskit
