/*
* Custom CSS Propertiesfor Starlight
* https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css
*/

:root {
  /* Because this plays well with both parkui and neomorphic design */
  /* --sl-font: 'Space Grotesk Variable', 'Plus Jakarta Sans Variable', sans-serif; */
  --sl-font: 'Plus Jakarta Sans Variable', var(--sl-font-system);
}

.sl-link-button.primary {
  border-radius: 0.2rem !important;
}
