/*
* Custom CSS Propertiesfor Starlight
* https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css
*/

:root {
  /* Because this plays well with both parkui and neomorphic design */
  /* --sl-font: 'Space Grotesk Variable', 'Plus Jakarta Sans Variable', sans-serif; */
  --sl-font: 'Plus Jakarta Sans Variable', sans-serif;
  --sl-font-h1: 'Space Grotesk Variable', var(--sl-font-system);
}

h1,
h2,
h3 {
  font-family: var(--sl-font-h1);
}

.sl-link-button.primary {
  border-radius: 0.2rem !important;
}
