---
import Default from '@astrojs/starlight/components/Footer.astro'
import { Icon } from '@astrojs/starlight/components'
import SimpleList from '@components/ui/SimpleList.astro'
import CheckItem from '@components/ui/CheckItem.astro'
import IconLucideHelpCircle from '~icons/lucide/help-circle'
import IconLucideActivity from '~icons/lucide/activity'
import IconLucideShield from '~icons/lucide/shield'
import IconLucideFileText from '~icons/lucide/file-text'
---

<Default {...Astro.props} />

<footer
  style="margin-top: 1rem; margin-bottom: 1rem; padding-top: 1rem; border-top: 1px solid var(--sl-color-gray-5); text-align: left; font-size: 0.875rem; color: var(--sl-color-gray-3);"
  class="fold-full-width"
>
  <div class="home-container">
    <div
      style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 1rem;"
    >
      <SimpleList>
        <CheckItem icon={IconLucideHelpCircle}
          >Need help? <a href="/support/contact-us/">Contact support</a></CheckItem
        >
        <CheckItem icon={IconLucideActivity}
          >Check out our <a href="https://scalekit.statuspage.io/">status page</a></CheckItem
        >
        <CheckItem icon={IconLucideShield}
          >Visit <a href="https://www.scalekit.com/trust-center">Trust center</a></CheckItem
        >
        <CheckItem icon={IconLucideFileText}>LLM? <a href="/llms.txt">Read llms.txt</a></CheckItem>
      </SimpleList>
    </div>
  </div>
</footer>
