---
import type { Props } from '@astrojs/starlight/props';
import { Icon } from '@astrojs/starlight/components';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import CustomTopicNav from './CustomTopicNav.astro';

const { dir, entry, lang, locale } = Astro.props;
---

<div class="header sl-flex">
  <div class="sl-flex">
    <SiteTitle {locale} />
  </div>
  <div class="search-bar-container">
    <Search {locale} />
  </div>
  <div class="sl-hidden md:sl-flex right-group">
    <CustomTopicNav />
    <div class="sl-flex social-icons">
      <SocialIcons />
    </div>
    <ThemeSelect />
    <LanguageSelect {locale} />
  </div>
  <div class="md:sl-hidden">
    <button
      aria-expanded="false"
      aria-haspopup="menu"
      aria-label="Menu"
      class="sl-flex md:sl-hidden"
      id="starlight__sidebar"
    >
      <Icon name="bars" />
    </button>
  </div>
</div>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
  }

  .social-icons {
    gap: 0.5rem;
  }

  #starlight__sidebar {
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--sl-color-accent-low);
    color: var(--sl-color-accent-high);
  }

  #starlight__sidebar:hover {
    background: var(--sl-color-accent);
    color: var(--sl-color-white);
  }

  .search-bar-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    min-width: 0;
  }
</style>