---
import Default from '@astrojs/starlight/components/MarkdownContent.astro'
import ImageZoom from 'starlight-image-zoom/components/ImageZoom.astro'
---

<ImageZoom />
<p>Custom content in the MarkdownContent override</p>
<Default><slot /></Default>
