---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<button class="sl-link-button primary" onclick="location.href='mailto:hi@scalekit.com'">E-mail</button>
<Default {...Astro.props}><slot /></Default>