---
import StarlightPageActionsPageTitle from 'starlight-page-actions/overrides/PageTitle.astro'
const { description } = Astro.locals.starlightRoute.entry.data
---

<div class="page-title-wrapper">
  <StarlightPageActionsPageTitle />
  {description && <p class="page-description">{description}</p>}
</div>

<style>
  .page-title-wrapper {
    display: flex;
    flex-direction: column;
  }

  .page-title-wrapper :global(h1) {
    order: 1;
  }

  .page-description {
    order: 2;
    margin-top: 0.5rem;
    color: var(--sl-color-gray-2);
  }

  .page-title-wrapper :global(.actions-container) {
    order: 3;
    margin-top: 0.75rem;
  }
</style>
