---
import StarlightPageActionsPageTitle from 'starlight-page-actions/overrides/PageTitle.astro'
const { description } = Astro.locals.starlightRoute.entry.data
---

<StarlightPageActionsPageTitle />
{description && <p class="page-description">{description}</p>}

<style>
  .page-description {
    margin-top: 0.5rem;
    color: var(--sl-color-gray-2);
    display: block;
  }
</style>
