---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<Default><slot /></Default>
<div class="flex gap-4 items-center">
  <button id="auth-button" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium bg-white text-black hover:translate-x-[-2px] hover:translate-y-[-2px] dark:bg-black dark:text-white border-2 border-black dark:border-white shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] dark:shadow-[4px_4px_0px_0px_rgba(255,255,255,1)] transition-all">Start building auth</button>
</div>

<script>
  document.getElementById('auth-button')?.addEventListener('click', () => {
    window.location.href = 'https://www.scalekit.com';
  });
</script>
