---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<Default><slot /></Default>

<div class="flex gap-4 items-center">
  <button id="auth-button" class="inline-flex items-center justify-center px-4 py-2 text-sm font-semibold rounded-md bg-[var(--sl-color-accent)] text-white hover:bg-[var(--sl-color-accent-high)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-[var(--sl-color-accent)] focus-visible:outline-offset-2 disabled:bg-gray-200 disabled:text-gray-500 disabled:cursor-not-allowed transition-colors duration-200 rounded-[0.2rem]">Start building auth</button>
</div>

<script>
  document.getElementById('auth-button')?.addEventListener('click', () => {
    window.location.href = 'https://www.scalekit.com';
  });
</script>
