---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import ScalarReference from "../components/ScalarReference.vue";
import ApiSearchIndex from "../components/ApiSearchIndex.astro";
---

<ScalarReference client:only="vue" />

<div style="display: none;">
<StarlightPage frontmatter={{    description: 'Complete reference for all Scalekit API endpoints', tableOfContents: false, template: 'splash', title: 'API Reference' }}>
  <div class="api-container">
    <ApiSearchIndex />
  </div>
</StarlightPage>
</div>