---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import CardGrid from '@/components/ui/CardGrid.astro'
import SimpleList from '@/components/ui/SimpleList.astro'
import CheckItem from '@/components/ui/CheckItem.astro'
---

<StarlightPage
  frontmatter={{
    title: 'Examples',
    description:
      'A collection of walkthrough tutorials, examples, videos and guides to teach you about the Scalekit and how to use it with your favorite tools',
    template: 'doc',
    sidebar: {
      label: 'Examples',
    },
    prev: false,
    next: false,
    editUrl: false,
    lastUpdated: false,
    tableOfContents: false,
    head: [
      {
        tag: 'style',
        content: 'footer { display: none !important; }',
      },
    ],
  }}
  hasSidebar={false}
>
  <CardGrid>
    <SimpleList>
      <CheckItem><a href="/authenticate/overview">Authenticate users with Scalekit</a></CheckItem>
      <CheckItem>example</CheckItem>
      <CheckItem>example</CheckItem>
      <CheckItem>example34</CheckItem>
      <CheckItem>example5</CheckItem>
    </SimpleList>

    <SimpleList>
      <CheckItem>example 1</CheckItem>
      <CheckItem>example</CheckItem>
      <CheckItem>example</CheckItem>
      <CheckItem>example34</CheckItem>
      <CheckItem>example5</CheckItem>
    </SimpleList>

    <SimpleList>
      <CheckItem>example 1</CheckItem>
      <CheckItem>example</CheckItem>
      <CheckItem>example</CheckItem>
      <CheckItem>example34</CheckItem>
      <CheckItem>example5</CheckItem>
    </SimpleList>
  </CardGrid>
</StarlightPage>
