---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import FilterBar from '@/components/examples/FilterBar.astro'
import ResourceGrid from '@/components/examples/ResourceGrid.astro'
import { processExamplesData } from '@/utils/examples'

// Load and process all examples data
const { filters, columns } = await processExamplesData()
---

<StarlightPage
  frontmatter={{
    title: 'Examples',
    overviewTitle:
      'A collection of walkthrough tutorials, examples, videos and guides to teach you about the Scalekit and how to use it with your favorite tools',
    template: 'doc',
    sidebar: {
      label: 'Examples',
    },
    prev: false,
    next: false,
    editUrl: false,
    lastUpdated: false,
    tableOfContents: true,
    seeAlso: {
      label: 'See also',
      expanded: true,
      items: [
        {
          title: 'Integrations',
          icon: 'puzzle',
          url: '/guides/integrations/',
        },
        {
          title: 'Changelogs',
          icon: 'progress',
          url: '/dev-kit/changelogs/',
        },
        {
          title: 'Join the dev community',
          icon: 'slack',
          url: 'https://join.slack.com/t/scalekit-community/shared_invite/zt-3gsxwr4hc-0tvhwT2b_qgVSIZQBQCWRw',
        },
      ],
    },
    head: [
      {
        tag: 'style',
        content: 'footer { display: none !important; }',
      },
    ],
  }}
  hasSidebar={false}
>
  <div class="examples-container">
    <FilterBar filters={filters} hidden={true} />
    <ResourceGrid columns={columns} />
  </div>
</StarlightPage>

<style src="../styles/examples.css"></style>
<script src="../scripts/examples-filter.ts"></script>
