---
import FoldHeader from '../FoldHeader.astro'
import CardGrid from '../CardGrid.astro'
import Card from '../Card.astro'
import SharedStyles from './SharedStyles.astro'
---

<SharedStyles />

<section class="fold fold--light full-bleed">
  <div class="home-container">
    <div class="fold-grid">
      <div>
        <FoldHeader
          title="Full Stack Authentication"
          description="Secure your entire app with one platform — from log in to log out. Widgets and APIs make it easy to add and customize auth without starting from scratch."
        />
        <CardGrid>
          <Card title="Quickstart" href="/fsa/quickstart">
            <p class="card-desc">
              Get started with implementing end‑to‑end auth for your application.
            </p>
          </Card>
          <Card title="Roles and permissions" href="/fsa/guides/app-roles">
            <p class="card-desc">
              Control access with fine‑grained role‑based permissions and policies.
            </p>
          </Card>
          <Card title="User management" href="/fsa/guides/user-management">
            <p class="card-desc">Manage users and organizations.</p>
          </Card>
        </CardGrid>
      </div>
    </div>
  </div>
</section>
