---
import FoldHeader from '../FoldHeader.astro'
import CardGrid from '../CardGrid.astro'
import Card from '../Card.astro'
import SharedStyles from './SharedStyles.astro'
import IconLucideZap from '~icons/lucide/zap'
import IconLucideSettings from '~icons/lucide/settings'
import IconLucideUsers from '~icons/lucide/users'
---

<SharedStyles />

<section class="fold-section fold--background-alternate full-stack-auth-section fold-full-width">
  <div class="home-container">
    <div class="fold-container">
      <div>
        <FoldHeader
          title="Full Stack Authentication"
          description="Secure your entire app with one platform — from log in to log out."
          descriptionSize="1rem"
          titleSize="2.25rem"
          titleWeight="500"
          titleColor="var(--sl-color-text-heading)"
          className="fold-3-header"
        />
        <CardGrid>
          <Card
            title="Quickstart"
            icon={IconLucideZap}
            href="https://docs.scalekit.com/fsa/quickstart"
          >
            <p class="card-desc">
              Get started with implementing end‑to‑end auth for your application.
            </p>
          </Card>
          <Card
            title="Roles and permissions"
            icon={IconLucideSettings}
            href="https://docs.scalekit.com/fsa/guides/app-roles"
          >
            <p class="card-desc">
              Control access with fine‑grained role‑based permissions and policies.
            </p>
          </Card>
          <Card
            title="User management"
            icon={IconLucideUsers}
            href="https://docs.scalekit.com/fsa/reference/user-profile"
          >
            <p class="card-desc">Manage users and organizations.</p>
          </Card>
        </CardGrid>
      </div>
    </div>
  </div>
</section>
