---
import FoldHeader from '../FoldHeader.astro'
import SharedStyles from './SharedStyles.astro'
/* What is Scalekit? */
---

<SharedStyles />

<section class="fold fold--muted full-bleed">
  <div class="home-container">
    <div class="fold-grid">
      <div>
        <FoldHeader
          title="What is Scalekit?"
          description="Scalekit is a platform for building and managing your agentic applications. It provides a set of tools and services that you can use to build your agentic applications."
        />
      </div>
    </div>
  </div>
</section>
