---
import FoldHeader from '../FoldHeader.astro'
import CardGrid from '../CardGrid.astro'
import Card from '../Card.astro'
import SharedStyles from './SharedStyles.astro'
/* Agent Connect */
---

<SharedStyles />

<section class="fold fold--light full-bleed">
  <div class="home-container">
    <div class="fold-grid">
      <div>
        <FoldHeader
          title="Agent Connect"
          description="Connect your agent with skills by integrating with 100+ applications and 1000+ tools — securely, in minutes."
        />
        <CardGrid>
          <Card title="Quickstart" href="/fsa/quickstart">
            <p class="card-desc">Get started with guided steps to connect quickly.</p>
          </Card>
          <Card title="Explore integrations" href="/sso/">
            <p class="card-desc">Check out the list providers and tools we support today.</p>
          </Card>
          <Card title="Playground" href="/dev-kit/">
            <p class="card-desc">
              Try tool calling in minutes to see the request and response parameters.
            </p>
          </Card>
        </CardGrid>
      </div>
    </div>
  </div>
</section>
