---
import FoldHeader from '../FoldHeader.astro'
import SharedStyles from './SharedStyles.astro'
// import heroImage from '@/assets/pages/hero/dark.png'
/* What is Scalekit? */
---

<SharedStyles />

<section class="fold-section fold--background-muted fold-full-width">
  <div class="home-container">
    <div class="fold-container hero-container">
      <div class="hero-content">
        <div class="hero-main">
          <FoldHeader
            title="What is Scalekit?"
            description="Modular auth platform for AI applications"
            titleSize="4.75rem"
            titleWeight="500"
            titleColor="var(--home-text-fold1-title)"
            titleAlign="center"
            descriptionColor="var(--home-text-secondary)"
            descriptionSize="1.125rem"
            className="hero-header"
          />
          <div class="hero-image">
            <!-- <img src={heroImage.src} alt="Scalekit Hero" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
