---
import { Card as StarlightCard } from '@astrojs/starlight/components'

export interface Props {
  title: string
  href?: string
}

const { title, href } = Astro.props
---

<StarlightCard title={title}>
  <slot />
  {
    href && (
      <a href={href} class="card-cta">
        Know more →
      </a>
    )
  }
</StarlightCard>
