---
import { Icon } from '@astrojs/starlight/components';

interface Props {
  iconName?: string;
}

const { iconName = "approve-check" } = Astro.props;
---

<div style="display: flex; align-items: center; margin-bottom: 8px;">
  <Icon name={iconName} color="var(--sl-color-text-accent)" />
  <span style="margin-left: 8px;"><slot /></span>
</div>

<style>
  .check-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .check-item span {
    margin-left: 8px;
  }
</style>